
  <%= form_for  @recipe do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %> <br>
    <p>Please Enter Image URL</p> 
    <%= f.label :image %>
    <%= f.text_field :image %> <br>

    <%= f.hidden_field :user_id, value: @current_user.id  %>

  <%= f.fields_for :recipe_ingredients do |ff| %>
  <%= ff.label :ingredient_id %> 
  <%= ff.collection_select :ingredient_id, Ingredient.all, :id, :name %> 
  <%= ff.label :measurement %>
  <%= ff.text_field :measurement %><br>
  <%# ff.collection_check_boxes :ingredient_id, Ingredient.all, :id, :name %> <br>

  <% end %>

  <%= f.submit %>

<% end %>



