<%= form_for @recipe do |f| %>
    <div class="form-input">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="form-input">
      <%= f.label :image %>
      <%= f.text_field :image %>
    </div>
  
    <div class="form-input">
      <%= f.hidden_field :user_id, value: cookies[:user_id] %>
    </div>
  
    <%= f.submit class: "form-btn" %>
  <% end %>


