


 

<div class="show_container">

<h1 id = "title"> <%= @recipe.title %> <h1> <br>
<h4> Creator: <%= link_to @recipe.user.name, user_path(@recipe.user.id)%></h4>

<h6>Likes: <%= @recipe.likes.count %> </h6> 
<%= button_to 'Like', {:controller => "likes", :action => "create", :recipe_id => @recipe.id},  method: :post, class: "button1" %>




<div class="container">
  <img class = "show-img" src="<%= @recipe.image %>"  width="200" height="300" >
  <h3 id = "ingred-header">Ingredients: </h3>
    <ul class = "list"> <% @recipe.recipe_ingredients.each do |i| %> 
   <li class = "item"> <%= i.measurement %> <%= link_to i.ingredient.name, ingredient_path(i.ingredient_id) %> </li> <br>
   </ul>
<%end%> 

</div>   
