
<div class = "page-container">
<br>
<div class = "profile-container1">
<h1 id="Heading"> Hello, <%= @current_user.name %> </h1> 
<h2> Age: <%= @current_user.age %> </h2> 
<img src="<%= @current_user.image %>" alt="">
</div>
<div class = "profile-container2">
<h2> My Creations: <% @current_user.created_recipes.each do |recipe|%> </h2> 
    <img src="<%= recipe.image %>" width="250" height="300" > <br>
    <li> <%= link_to recipe.title, recipe_path(recipe) %> <br>  <%=  button_to 'Edit', edit_recipe_path(recipe), method: :get, class: "button1" %>  <%=  button_to 'Delete', recipe_path(recipe), method: :delete, class: "button1"%>  </li>
    <br>
    <br>
<% end %>
</div>
 <div class = "profile-container2">
<h2>Liked Recipes</h2>
<% @current_user.recipes.each do |recipe| %>
    <%= recipe.title %> <br>
  
<% end %>
</div>
</div>


 
    